In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('/Users/shivasagar/Downloads/DATA_SCIENCE/Machine Learning/ML online/Assig/Machine-Learning--Projects-master/Projects/Projects for Submission/Project 1 - Mercedes-Benz Greener Manufacturing/Dataset for the project/train.csv')
test = pd.read_csv('/Users/shivasagar/Downloads/DATA_SCIENCE/Machine Learning/ML online/Assig/Machine-Learning--Projects-master/Projects/Projects for Submission/Project 1 - Mercedes-Benz Greener Manufacturing/Dataset for the project/test.csv')

In [3]:
train.head(10)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0

In [4]:
test.head(10)

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
5,8,y,aa,ai,e,d,x,g,s,0,...,1,0,0,0,0,0,0,0,0,0
6,10,x,b,ae,d,d,x,d,y,0,...,0,0,0,0,0,1,0,0,0,0
7,11,f,s,ae,c,d,h,d,a,0,...,0,0,1,0,0,0,0,0,0,0
8,12,ap,l,s,c,d,h,j,n,0,...,0,0,0,0,0,0,0,0,0,0
9,14,o,v,as,f,d,g,f,v,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# on looking at the above tables of train & test. 
# y - time_for_testing is not given in the test dataset.

In [6]:
print(train.shape)
print(test.shape)

(4209, 378)
(4209, 377)

In [7]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 377 entries, ID to X385
dtypes: int64(369), object(8)
memory usage: 12.1+ MB
None

In [8]:
print(train.describe())
print(test.describe())

                ID            y          X10     X11          X12  \
count  4209.000000  4209.000000  4209.000000  4209.0  4209.000000
mean   4205.960798   100.669318     0.013305     0.0     0.075077
std    2437.608688    12.679381     0.114590     0.0     0.263547
min       0.000000    72.110000     0.000000     0.0     0.000000
25%    2095.000000    90.820000     0.000000     0.0     0.000000
50%    4220.000000    99.150000     0.000000     0.0     0.000000
75%    6314.000000   109.010000     0.000000     0.0     0.000000
max    8417.000000   265.320000     1.000000     0.0     1.000000

               X13          X14          X15          X16          X17  ...  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000  ...
mean      0.057971     0.428130     0.000475     0.002613     0.007603  ...
std       0.233716     0.494867     0.021796     0.051061     0.086872  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
75%       0.000000     1.000000     0.000000     0.000000     0.000000  ...
max       1.000000     1.000000     1.000000     1.000000     1.000000  ...

              X375         X376         X377         X378         X379  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean      0.318841     0.057258     0.314802     0.020670     0.009503
std       0.466082     0.232363     0.464492     0.142294     0.097033
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     1.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

              X380         X382         X383         X384         X385
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean      0.008078     0.007603     0.001663     0.000475     0.001426
std       0.089524     0.086872     0.040752     0.021796     0.037734
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

[8 rows x 370 columns]
                ID          X10          X11          X12          X13  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean   4211.039202     0.019007     0.000238     0.074364     0.061060
std    2423.078926     0.136565     0.015414     0.262394     0.239468
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%    2115.000000     0.000000     0.000000     0.000000     0.000000
50%    4202.000000     0.000000     0.000000     0.000000     0.000000
75%    6310.000000     0.000000     0.000000     0.000000     0.000000
max    8416.000000     1.000000     1.000000     1.000000     1.000000

               X14          X15          X16          X17          X18  ...  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000  ...
mean      0.427893     0.000713     0.002613     0.008791     0.010216  ...
std       0.494832     0.026691     0.051061     0.093357     0.100570  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
75%       1.000000     0.000000     0.000000     0.000000     0.000000  ...
max       1.000000     1.000000     1.000000     1.000000     1.000000  ...

              X375         X376         X377         X378         X379  \
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean      0.325968     0.049656     0.311951     0.019244     0.011879
std       0.468791     0.217258     0.463345     0.137399     0.108356
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       1.000000     0.000000     1.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

              X380         X382         X383         X384         X385
count  4209.000000  4209.000000  4209.000000  4209.000000  4209.000000
mean      0.008078     0.008791     0.000475     0.000713     0.001663
std       0.089524     0.093357     0.021796     0.026691     0.040752
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

[8 rows x 369 columns]

In [9]:
print(train.isnull().sum())

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

In [10]:
print(test.isnull().sum())

ID      0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 377, dtype: int64

In [11]:
print('Train Shape: {}, Train ID Range {} to {}'.format(train.shape,train.ID.min(),train.ID.max()))
print('Test Shape: {}, Test ID Range {} to {}'.format(test.shape,test.ID.min(),test.ID.max()))

Train Shape: (4209, 378), Train ID Range 0 to 8417
Test Shape: (4209, 377), Test ID Range 1 to 8416

In [12]:
# If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
# Check for null and unique values for test and train sets.
# Apply label encoder.
# Perform dimensionality reduction.
# Predict your test_df values using XGBoost.

In [13]:
all_data= train.append(test, sort=False)

In [14]:
all_data.shape

(8418, 378)

In [15]:
all_data.tail()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4204,8410,NaN,aj,h,as,f,d,aa,j,e,...,0,0,0,0,0,0,0,0,0,0
4205,8411,NaN,t,aa,ai,d,d,aa,j,y,...,0,1,0,0,0,0,0,0,0,0
4206,8413,NaN,y,v,as,f,d,aa,d,w,...,0,0,0,0,0,0,0,0,0,0
4207,8414,NaN,ak,v,as,a,d,aa,c,q,...,0,0,1,0,0,0,0,0,0,0
4208,8416,NaN,t,aa,ai,c,d,aa,g,r,...,1,0,0,0,0,0,0,0,0,0

In [16]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8418 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 24.3+ MB

In [17]:
all_data.isnull().sum()

ID         0
y       4209
X0         0
X1         0
X2         0
        ...
X380       0
X382       0
X383       0
X384       0
X385       0
Length: 378, dtype: int64

In [18]:
# y missing 4209 which indicates missing y values in test dataset.

In [19]:
all_data.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,8418.000000,4209.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,...,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000,8418.000000
mean,4208.500000,100.669318,0.016156,0.000119,0.074721,0.059515,0.428011,0.000594,0.002613,0.008197,...,0.322404,0.053457,0.313376,0.019957,0.010691,0.008078,0.008197,0.001069,0.000594,0.001544
std,2430.211616,12.679381,0.126082,0.010899,0.262956,0.236601,0.494820,0.024366,0.051058,0.090169,...,0.467425,0.224956,0.463893,0.139862,0.102851,0.089519,0.090169,0.032682,0.024366,0.039270
min,0.000000,72.110000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2104.250000,90.820000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4208.500000,99.150000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6312.750000,109.010000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
# If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [21]:
for column in all_data:
    cardinality = len(np.unique(all_data[column]))
    if cardinality == 1:
        all_data.drop(column, axis=1)
        exit

In [22]:
all_data.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [23]:
numerics = all_data.select_dtypes(exclude='object').columns

In [24]:
numerics

Index(['ID', 'y', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=370)

In [25]:
print(len(numerics))

370

In [26]:
Cate_var = all_data.select_dtypes(include='object').columns

In [27]:
Cate_var

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [28]:
print(len(Cate_var))

8

In [29]:
all_data.shape

(8418, 378)

In [30]:
all_data.head(20)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
11,32,98.12,al,r,e,f,d,f,h,o,...,0,0,0,0,0,0,0,0,0,0
12,34,82.62,s,b,ai,c,d,f,g,m,...,0,0,1,0,0,0,0,0,0,0
13,36,94.12,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
14,37,99.15,o,s,as,e,d,j,g,m,...,1,0,0,0,0,0,0,0,0,0
15,38,93.64,n,l,ak,f,d,j,d,k,...,0,0,0,0,0,0,0,0,0,0
16,39,106.10,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
17,40,114.13,ay,aa,as,c,d,j,c,d,...,0,0,1,0,0,0,0,0,0,0
18,44,89.81,f,c,m,c,d,j,d,e,...,0,0,1,0,0,0,0,0,0,0
19,47,90.81,n,a,ak,f,d,j,i,s,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# Check for null and unique values for test and train sets.

In [32]:
all_data.isnull().sum()

ID         0
y       4209
X0         0
X1         0
X2         0
        ...
X380       0
X382       0
X383       0
X384       0
X385       0
Length: 378, dtype: int64

In [33]:
for i in all_data.columns:
    print(all_data[i].unique(),"\t",all_data[i].nunique())

[   0    6    7 ... 8413 8414 8416] 	 8418
[130.81  88.53  76.26 ... 108.77  87.48    nan] 	 2545
['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab' 'av' 'ag'
 'an' 'ae' 'p' 'bb'] 	 53
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab'] 	 27
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar' 'aj' 'ax' 'ab' 'w'
 'ad' 'u'] 	 50
['a' 'e' 'c' 'f' 'd' 'b' 'g'] 	 7
['d' 'b' 'c' 'a'] 	 4
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa' 't' 'b' 'a' 'z'] 	 33
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b'] 	 12
['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c'] 	 25
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2

In [34]:
objects = all_data.drop(['ID', 'y'], axis=1)

In [35]:
for i in objects.columns:
    print(objects[i].unique(),"\t",objects[i].nunique())

['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab' 'av' 'ag'
 'an' 'ae' 'p' 'bb'] 	 53
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab'] 	 27
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar' 'aj' 'ax' 'ab' 'w'
 'ad' 'u'] 	 50
['a' 'e' 'c' 'f' 'd' 'b' 'g'] 	 7
['d' 'b' 'c' 'a'] 	 4
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa' 't' 'b' 'a' 'z'] 	 33
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b'] 	 12
['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c'] 	 25
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[1 0] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2
[0 1] 	 2

In [36]:
from sklearn.preprocessing import LabelEncoder

In [37]:
le = LabelEncoder()

In [38]:
for i in objects.columns:
    objects[i] = le.fit_transform(objects[i])

In [39]:
objects.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,37,23,20,0,3,27,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,37,21,22,4,3,31,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,24,24,38,2,3,30,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,24,21,38,5,3,30,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,24,23,38,5,3,14,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
objects.shape

(8418, 376)

In [41]:
all_data_new = pd.concat([all_data['y'], objects], axis=1)

In [42]:
all_data_new.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,37,23,20,0,3,27,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,37,21,22,4,3,31,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,24,24,38,2,3,30,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,24,21,38,5,3,30,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,24,23,38,5,3,14,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
all_data_new.shape

(8418, 377)

In [44]:
train_data = all_data_new[:4209]
test_data = all_data_new[4209:].drop('y', axis = 1)

In [45]:
train_data.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,37,23,20,0,3,27,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,37,21,22,4,3,31,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,24,24,38,2,3,30,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,24,21,38,5,3,30,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,24,23,38,5,3,14,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
test_data.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,24,23,38,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
1,46,3,9,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
2,24,23,19,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
3,24,13,38,5,3,32,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
4,49,20,19,2,3,31,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

In [47]:
X = train_data.drop(['y'], axis=1)
y = train_data['y']

In [48]:
X.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,37,23,20,0,3,27,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,37,21,22,4,3,31,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,24,24,38,2,3,30,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,24,21,38,5,3,30,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,24,23,38,5,3,14,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
# Perform dimensionality reduction.
# Predict your test_df values using XGBoost.

from sklearn.decomposition import PCA

In [50]:
X.shape, test_data.shape

((4209, 376), (4209, 376))

In [51]:
n_comp = 12
pca = PCA(n_components=n_comp, random_state=111)
pca2_results_train = pca.fit_transform(X)
pca2_results_test = pca.transform(test_data)

In [52]:
pca2_results_train.shape, pca2_results_test.shape

((4209, 12), (4209, 12))

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_sample, y_train, y_sample = train_test_split(pca2_results_train, y, test_size=0.2, random_state=123)

In [55]:
X_train.shape, X_sample.shape, y_train.shape, y_sample.shape

((3367, 12), (842, 12), (3367,), (842,))

In [56]:
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.metrics import r2_score

In [57]:
# we will apply Xgboost regression and see how it varies the results

In [58]:
d_train = xgb.DMatrix(data=X_train,label=y_train)
d_sample = xgb.DMatrix(data=X_sample, label=y_sample)

d_test = xgb.DMatrix(pca2_results_test)

In [59]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [60]:
watchlist = [(d_train, 'train'), (d_sample, 'sample')]

clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[01:37:12] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.0171	sample-rmse:98.8016	train-r2:-58.9483	sample-r2:-64.3225
Multiple eval metrics have been passed: 'sample-r2' will be used for early stopping.

Will train until sample-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.1609	sample-rmse:80.9311	train-r2:-39.2764	sample-r2:-42.8295
[20]	train-rmse:66.61	sample-rmse:66.3633	train-r2:-26.1291	sample-r2:-28.4708
[30]	train-rmse:54.7671	sample-rmse:54.5009	train-r2:-17.3399	sample-r2:-18.8766
[40]	train-rmse:45.1468	sample-rmse:44.8418	train-r2:-11.4626	sample-r2:-12.4555
[50]	train-rmse:37.3553	sample-rmse:37.0174	train-r2:-7.53219	sample-r2:-8.1695
[60]	train-rmse:31.0721	sample-rmse:30.7129	train-r2:-4.90334	sample-r2:-5.31215
[70]	train-rmse:26.0229	sample-rmse:25.6364	train-r2:-3.14065	sample-r2:-3.39794
[80]	train-rmse:21.9973	sample-rmse:21.5826	train-r2:-1.95865	sample-r2:-2.11703
[90]	train-rmse:18.8135	sample-rmse:18.3758	train-r2:-1.16419	sample-r2:-1.25957
[100]	train-rmse:16.3207	sample-rmse:15.8701	train-r2:-0.628666	sample-r2:-0.685368
[110]	train-rmse:14.3991	sample-rmse:13.9448	train-r2:-0.267734	sample-r2:-0.30125
[120]	train-rmse:12.9251	sample-rmse:12.4925	train-r2:-0.021464	sample-r2:-0.04432
[130]	train-rmse:11.8045	sample-rmse:11.4152	train-r2:0.14797	sample-r2:0.128031
[140]	train-rmse:10.9665	sample-rmse:10.6187	train-r2:0.264651	sample-r2:0.245464
[150]	train-rmse:10.3419	sample-rmse:10.0463	train-r2:0.346038	sample-r2:0.324623
[160]	train-rmse:9.88554	sample-rmse:9.64003	train-r2:0.402474	sample-r2:0.378141
[170]	train-rmse:9.55673	sample-rmse:9.35778	train-r2:0.441563	sample-r2:0.414022
[180]	train-rmse:9.31732	sample-rmse:9.1654	train-r2:0.469191	sample-r2:0.437868
[190]	train-rmse:9.12552	sample-rmse:9.02532	train-r2:0.49082	sample-r2:0.45492
[200]	train-rmse:8.99072	sample-rmse:8.93278	train-r2:0.505752	sample-r2:0.466041
[210]	train-rmse:8.87852	sample-rmse:8.86574	train-r2:0.51801	sample-r2:0.474025
[220]	train-rmse:8.78347	sample-rmse:8.80996	train-r2:0.528275	sample-r2:0.480623
[230]	train-rmse:8.71374	sample-rmse:8.77531	train-r2:0.535736	sample-r2:0.4847
[240]	train-rmse:8.64105	sample-rmse:8.7542	train-r2:0.543449	sample-r2:0.487176
[250]	train-rmse:8.57935	sample-rmse:8.73328	train-r2:0.549946	sample-r2:0.489624
[260]	train-rmse:8.52852	sample-rmse:8.71833	train-r2:0.555263	sample-r2:0.49137
[270]	train-rmse:8.49033	sample-rmse:8.70634	train-r2:0.559236	sample-r2:0.492768
[280]	train-rmse:8.44532	sample-rmse:8.69272	train-r2:0.563897	sample-r2:0.494354
[290]	train-rmse:8.41085	sample-rmse:8.68681	train-r2:0.567451	sample-r2:0.495042
[300]	train-rmse:8.37615	sample-rmse:8.68001	train-r2:0.571012	sample-r2:0.495831
[310]	train-rmse:8.33216	sample-rmse:8.6681	train-r2:0.575506	sample-r2:0.497214
[320]	train-rmse:8.28688	sample-rmse:8.65802	train-r2:0.580108	sample-r2:0.498383
[330]	train-rmse:8.24499	sample-rmse:8.65063	train-r2:0.584341	sample-r2:0.499239
[340]	train-rmse:8.20247	sample-rmse:8.64235	train-r2:0.588618	sample-r2:0.500198
[350]	train-rmse:8.1559	sample-rmse:8.63655	train-r2:0.593275	sample-r2:0.500868
[360]	train-rmse:8.11596	sample-rmse:8.62901	train-r2:0.59725	sample-r2:0.501739
[370]	train-rmse:8.08228	sample-rmse:8.62225	train-r2:0.600585	sample-r2:0.502519
[380]	train-rmse:8.05367	sample-rmse:8.61701	train-r2:0.603408	sample-r2:0.503124
[390]	train-rmse:8.01863	sample-rmse:8.60755	train-r2:0.606851	sample-r2:0.504215
[400]	train-rmse:7.98621	sample-rmse:8.60145	train-r2:0.610025	sample-r2:0.504916
[410]	train-rmse:7.95468	sample-rmse:8.59726	train-r2:0.613097	sample-r2:0.505399
[420]	train-rmse:7.93032	sample-rmse:8.59519	train-r2:0.615463	sample-r2:0.505637
[430]	train-rmse:7.89793	sample-rmse:8.58649	train-r2:0.618598	sample-r2:0.506637
[440]	train-rmse:7.87775	sample-rmse:8.58301	train-r2:0.620544	sample-r2:0.507037
[450]	train-rmse:7.85139	sample-rmse:8.58093	train-r2:0.62308	sample-r2:0.507276
[460]	train-rmse:7.8142	sample-rmse:8.57971	train-r2:0.626642	sample-r2:0.507417
[470]	train-rmse:7.78464	sample-rmse:8.57344	train-r2:0.629461	sample-r2:0.508135
[480]	train-rmse:7.75779	sample-rmse:8.56655	train-r2:0.632013	sample-r2:0.508926
[490]	train-rmse:7.73287	sample-rmse:8.56545	train-r2:0.634374	sample-r2:0.509052
[500]	train-rmse:7.70656	sample-rmse:8.56262	train-r2:0.636857	sample-r2:0.509377
[510]	train-rmse:7.67812	sample-rmse:8.55535	train-r2:0.639532	sample-r2:0.51021
[520]	train-rmse:7.65267	sample-rmse:8.5489	train-r2:0.641918	sample-r2:0.510947
[530]	train-rmse:7.6269	sample-rmse:8.54548	train-r2:0.644326	sample-r2:0.511339
[540]	train-rmse:7.60548	sample-rmse:8.54583	train-r2:0.646321	sample-r2:0.511299
[550]	train-rmse:7.58235	sample-rmse:8.54821	train-r2:0.648469	sample-r2:0.511026
[560]	train-rmse:7.56403	sample-rmse:8.54804	train-r2:0.650165	sample-r2:0.511046
[570]	train-rmse:7.54256	sample-rmse:8.54546	train-r2:0.652149	sample-r2:0.511342
[580]	train-rmse:7.52435	sample-rmse:8.54212	train-r2:0.653826	sample-r2:0.511723
[590]	train-rmse:7.50023	sample-rmse:8.54048	train-r2:0.656043	sample-r2:0.511911
[600]	train-rmse:7.48203	sample-rmse:8.54293	train-r2:0.657709	sample-r2:0.51163
[610]	train-rmse:7.46112	sample-rmse:8.53883	train-r2:0.65962	sample-r2:0.512099
[620]	train-rmse:7.44217	sample-rmse:8.53687	train-r2:0.661346	sample-r2:0.512323
[630]	train-rmse:7.41591	sample-rmse:8.52905	train-r2:0.663732	sample-r2:0.513216
[640]	train-rmse:7.3996	sample-rmse:8.53125	train-r2:0.66521	sample-r2:0.512965
[650]	train-rmse:7.37613	sample-rmse:8.53078	train-r2:0.66733	sample-r2:0.513019
[660]	train-rmse:7.35872	sample-rmse:8.53103	train-r2:0.668899	sample-r2:0.51299
[670]	train-rmse:7.34026	sample-rmse:8.52734	train-r2:0.670558	sample-r2:0.513411
[680]	train-rmse:7.32482	sample-rmse:8.52807	train-r2:0.671942	sample-r2:0.513328
[690]	train-rmse:7.30812	sample-rmse:8.52809	train-r2:0.673437	sample-r2:0.513325
[700]	train-rmse:7.29132	sample-rmse:8.5298	train-r2:0.674936	sample-r2:0.513131
[710]	train-rmse:7.27493	sample-rmse:8.53031	train-r2:0.676396	sample-r2:0.513072
Stopping. Best iteration:
[662]	train-rmse:7.35351	sample-rmse:8.52681	train-r2:0.669368	sample-r2:0.513471

In [61]:
p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = test['ID']
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

   ID           y
0   1   78.427361
1   2   96.045090
2   3   79.678787
3   4   77.609856
4   5  110.447632